<%= render 'articles/navbar', locals: {articles: @articles}%>
<section id="content">
  <h2>Articles</h2>
  <% for article in @articles do%>
    <a href="<%= url_for article %>">
      <article>
        <h3><%= article.title %></h3>
        <p><%= article.text %></p>
      </article>
    </a>
  <% end %>
  <%= render 'articles/users', locals: {articles: @users_count}%>
</section>
