<!DOCTYPE html>
<html>
  <head>
    <title>Lab</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "toTop"> Наверх! </div>
    <div class="container">
      <div class="grid">
        <header>
          <%= link_to image_tag('layout/logo.png', class: 'logo'), url_for(root_path)%>
        </header>
        <%= yield %>
        <footer>
          <p>Designed "Крутые Интернет Технологии"</p>
          <p>2018</p>
        </footer>
        </grid>
      </div>
    </div>
  </body>
</html>
